<app-navbar></app-navbar>>
    <section class="carousel slide container" id="about-slider" data-bs-ride="carousel">
        <div class="carousel-inner px-4 pt-5 mb-5">
            <div class="carousel-item" *ngFor="let slider of aboutUs.aboutUsSliders; let i = index" [ngClass]="{'active': i === 0}">
                <div class="row">
                    <div class="col-7 p-5 mt-1">
                        <h1 class="display-4 mb-4" >{{slider.headeR_COMPONENT1}}</h1>
                        <p class="mb-4 pe-5">{{slider.paragraph1}}</p>
                        <button class="btn btn-lg btn-primary px-4 display-1" id="editButton" mat-raised-button (click)="OpenUpdateDialog(slider)">Edit</button>
                        <button class="btn btn-lg btn-danger ms-2  px-4 display-1" id="editButton" mat-raised-button (click)="OpenDeleteDialog(slider.aboutuspagE_ID)">Delete</button>
                    </div>
                    <div class="col-5 pattern-overlay">
                        <img src="../../assets/AboutUsImages/{{slider.imagE_PATH1}}" class=""/>
                    </div>
                </div>
                
                
            </div>


        </div>

        <div class="">
            <button class="carousel-control-prev" type="button" data-bs-target="#about-slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#about-slider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
              </button>
        </div>
        
        <div class="d-flex justify-content-center">
            <button class="btn btn-lg btn-danger px-4 display-1" id="editButton" mat-raised-button (click)="OpenCreateeDialog()">Create New</button>
        </div>

    </section>
    
    <section id="client-holder" >
        <div class="container mt-5">
            <div class="row">
                <div class="inner-content">
                    <div class="logo-wrap">
                        <div class="grid">
                            <a href="#"><img src="../../assets/main/images/client-image1.png" alt="client"></a>
                            <a href="#"><img src="../../assets/main/images/client-image2.png" alt="client"></a>
                            <a href="#"><img src="../../assets/main/images/client-image3.png" alt="client"></a>
                            <a href="#"><img src="../../assets/main/images/client-image4.png" alt="client"></a>
                            <a href="#"><img src="../../assets/main/images/client-image5.png" alt="client"></a>
                        </div>
                    </div><!--image-holder-->
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>