<app-navbar></app-navbar>
<section class="hero-section jarallax">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">My Books</h1>
            </div>
        </div>
    </div>

</section>
<section id="latest-blog" class="scrollspy-section padding-medium">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <!-- post grid -->
                <div class="post-grid">
                    <div class="row" >

                        <div class="col-md-4" *ngFor="let book of borrowedbooks.BorrowedbooksByIdUser" >

                            <article class="post-item">
 
                                <figure>
                                    <a href="#" class="image-hvr-effect">
                                       
                                        <img src="../../../assets/BookImages/{{book.book_Img_Path}}" alt="post" class="post-image">
                                        
                                    </a>
                                </figure>

                                <div class="post-content">
                                    <div class="meta-date"> {{book.borrow_Date_To | date }}</div>
                                    <h3 class="post-title"><a  >{{book.title}} 
                                             </a></h3>
                                    <p>{{book.description}}</p>
                                </div>
                            </article>
                                    <button [routerLink]="['/book-detail', book.book_Id]">Details</button> 
                                    
                        </div>

  
                    </div>
                </div>
                <!-- / post grid -->

            </div>

        </div>

    </div>
</section>
<app-footer></app-footer>