<app-navbar></app-navbar>
<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0" data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1049.0" data-gr-ext-installed="">
	<div id="header-wrap">
	<section class=" padding-medium mt-3">
		<div class="container">
			<div class="row g-5">
				<div class="col-md-6 mb-3">

                    <h2>{{this.manageTestimonialPage.testimonialPageData[0].title}}</h2>

					<div class="contact-detail d-flex flex-wrap mt-4">
						<div class="detail mr-6 mb-4">
							<p><span [ngStyle]="{'color': '#d9b99b', 'font-size': '24px'}">{{this.manageTestimonialPage.testimonialPageData[0].header_Component1}}</span> 
								{{this.manageTestimonialPage.testimonialPageData[0].paragraph1}}</p>
							<ul class="list-unstyled list-icon">
								<li><i class="icon icon-envelope-o"></i><a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
								<li><i class="icon icon-location2"></i>{{this.manageTestimonialPage.testimonialPageData[0].footer_Component1}}</li>
							</ul>
						</div><!--detail-->
					</div><!--contact-detail-->
				</div><!--col-md-6-->
				<div class="col-md-6">
					<div class="form">
						<form name="contactform"[formGroup]="CreateForm" class="form-group contact-form mt-4">
							<div class="row">
								<div class="col-md-12">
									<textarea class="form-control" name="message" style="height: 150px;" placeholder="Your Feedback" formControlName="text" rows="5"></textarea>
									<span [ngStyle]="{'color':'red', 'size':'5px'}" *ngIf="CreateForm.controls['text'].hasError('required')">
										Feedback is required
									</span>
								</div>

								<div class="col-md-12">
									<input type="number"formControlName="user_Id"hidden/>
									<input type="text"formControlName="status" hidden>
									<input type="text"formControlName="submission_Date"hidden>
								</div>

								<div class="col-md-12">
									<div class="btn-wrap align-center">
                                        <a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0" *ngIf="userID!=null" (click)="saveFeedback()">Send Your Feedback
											<i class="icon icon-ns-arrow-right"></i></a>
                                    </div>
									<div class="btn-wrap align-center">
                                        <a href="/auth/login" class="btn btn-outline-accent btn-accent-arrow" tabindex="0" *ngIf="userID==null" >Sign Up/ Login To Send Your Feedback
											<i class="icon icon-ns-arrow-right"></i></a>
                                    </div>
								</div>
							</div>
						</form>
					</div><!--contact-information-->
				</div><!--col-md-6-->
			</div>
		</div>
	</section>
    </div>
</body>
<app-footer></app-footer>