.mat-tab-group {
  margin: auto;
  width: 80%;
}

.tab-title {
  font-size: 1.2em;
  font-weight: bold;
}

.tab-content {
  text-align: center;
}

.book-item {
  display: inline-block;
  margin: 10px;
  text-align: left;
}

.book-item img {
  width: 100px; /* Adjust as necessary */
  height: 150px; /* Adjust as necessary */
}

.book-title {
  font-size: 1em;
  font-weight: bold;
}

.book-author {
  font-size: 0.8em;
}
/* search  */
.search-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.search-input {
  width: 100%;
  max-width: 600px; /* You can adjust this based on your design preference */
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px; /* Rounded left corners */
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  border-radius: 0 20px 20px 0; /* Rounded right corners */
  outline: none;
}

.search-button i {
  margin-right: 5px;
}

/* Hover effects for button */
.search-button:hover {
  background-color: #003d82;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .search-input,
  .search-button {
    font-size: 14px;
  }
  .search-button i {
    margin-right: 0;
  }
}
.tab-title{
  color: black; 
}