
<app-navbar>

</app-navbar>
<section id="popular-books" class="bookshelf py-5 my-5">
    <!-- ... -->
    <div *ngIf="libraryService.libraries.length; else noData" class="container">
      <div class="row">
        <!-- ... header and tabs ... -->
  
        <!-- Replace static content with dynamic books from the API -->
        <div class="tab-content">
          <div id="all-genre" data-tab-content class="active">
            <div class="row">
              <!-- Loop through each book and display its details -->
              <div *ngFor="let library of libraryService.libraries" class="col-md-3">
                <div class="product-item">
                  <figure class="product-style">
                   <img src="../../../assets/Uploded-Images/{{library.image_Path1}}" alt="library img" class="product-item">  
                  <!--   <img [src]="'../../../assets/Uploded-Images/' + book.book_Img_Path" alt="Book cover" class="product-item">
 -->
                    <button type="button"  (click)="showCategories(library.library_Id)"    class="add-to-cart">Show The Category
                     <!--  <span>{{library.library_Id}}</span> -->
                    </button>

                  </figure> 
                  <figcaption>
                    <h3>{{library.name}}</h3>
                    <span>{{library.location_Latitude}}</span>
                    <h4>{{library.phone_Number}}</h4>
                    
                    <div class="item-price">{{library.email}}</div>
                  </figcaption>
                      <!-- Display categories for the selected library -->
                   
                </div>
             
              </div>
            </div>
          </div>
          <!-- ... other tabs ... -->
        </div>
      </div>
    </div>
    <ng-template #noData><p>No popular books found.</p></ng-template>
    
  
    <ul class="category-list">
      <li *ngFor="let category of libraryService.Categories">{{ category.category_Name }}</li>
    </ul>
    
  </section>
  
  <app-footer></app-footer>
