<app-navbar></app-navbar>
<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0" data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1049.0" data-gr-ext-installed="">
	<div id="header-wrap">
		<section class="padding-medium mt-3">
			<div class="container">
				<div class="row g-5">
					<div class="col-md-12 mb-3">
						<div class="col-md-8">
							<div class="form">
								<form name="contactform"[formGroup]="CreateForm" class="form-group contact-form mt-4">
									<div class="row">

                                        
                                          <br>
                                          <br>
										<div class="col-md-8 text-center"> <!-- Added text-center class -->
											<textarea class="form-control center-textarea" name="message" style="height: 150px;" placeholder="Your Feedback" formControlName="text" rows="5"></textarea>
											<span [ngStyle]="{'color':'red', 'size':'5px'}" *ngIf="CreateForm.controls['review_Text'].hasError('required')">
												Feedback is required
											</span>
										</div>

										<div class="col-md-12">
											<input type="number" formControlName="user_Id" hidden/>
											<input type="text" formControlName="status" hidden>
											<input type="text" formControlName="submission_Date" hidden>
										</div>

										<div class="col-md-12">
											<div class="btn-wrap align-center">
												<a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0" (click)="saveReview()">Send Your Feedback
													<i class="icon icon-ns-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
								</form>
							</div><!--contact-information-->
						</div><!--col-md-6-->
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
<app-footer></app-footer>
