<app-navbar></app-navbar>
<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0" data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="0" data-new-gr-c-s-check-loaded="14.1049.0" data-gr-ext-installed="">
	<div id="header-wrap">
		<section class="padding-medium mt-3">
			<div class="container">
				<div class="row g-5">
					<div class="col-md-12 mb-3">
						<div class="col-md-8 mx-auto"> <!-- Use mx-auto to center the column horizontally -->
							<div class="form">
								<form name="contactform"[formGroup]="CreateForm" class="form-group contact-form mt-4">
									<div class="row">
										<div class="col-md-12">
											<igc-rating formControlName="rating"  name="userRating"></igc-rating>
											<br>
											<br>
										</div>
										<div class="col-md-12 text-center">
											<textarea class="form-control center-textarea" name="message" style="height: 150px;" placeholder="Your Feedback" formControlName="review_Text" rows="5"></textarea>
											<span [ngStyle]="{'color':'red', 'font-size':'12px'}" *ngIf="CreateForm.controls['review_Text'].hasError('required')">
												Feedback is <strong>required</strong>
											</span>
										</div>
										<div class="col-md-12">
											<input type="number" formControlName="review_Date" hidden/>
											<input type="text" formControlName="borrow_Id" hidden>
											<input type="text" formControlName="book_Id" hidden>
											<input type="text" formControlName="book_Id" hidden>
										</div>
										<div class="col-md-12 text-center">
											<div class="btn-wrap">
												<a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0" (click)="saveReview()">Send Your Feedback
													<i class="icon icon-ns-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
								</form>
							</div><!--contact-information-->
						</div><!--col-md-8-->
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
<app-footer></app-footer>
