<app-navbar></app-navbar>
<section id="billboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-slider pattern-overlay">
                    <div class="slider-item ">
                        <div class="banner-content">
                            <h2 class="banner-title" style="line-height: normal;">Life of the Wild</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
                                ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis
                                urna, a eu.</p>
                            <div class="btn-wrap">
                                <a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i
                                        class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div><!--banner-content-->
                        <img src="../../assets/main/images/main-banner1.jpg" alt="banner" class="banner-image">
                    </div><!--slider-item-->
    
                </div><!--slider-->

            </div>
        </div>
    </div>

</section>

<section id="client-holder">
    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="logo-wrap">
                    <div class="grid">
                        <a href="#"><img src="../../assets/main/images/client-image1.png" alt="client"></a>
                        <a href="#"><img src="../../assets/main/images/client-image2.png" alt="client"></a>
                        <a href="#"><img src="../../assets/main/images/client-image3.png" alt="client"></a>
                        <a href="#"><img src="../../assets/main/images/client-image4.png" alt="client"></a>
                        <a href="#"><img src="../../assets/main/images/client-image5.png" alt="client"></a>
                    </div>
                </div><!--image-holder-->
            </div>
        </div>
    </div>
</section>

<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>SOME QUALITY ITEMS</span>
                    </div>
                    <h2 class="section-title">{{this.manageHome.homePageData[0].headeR_COMPONENT1}}</h2>
                </div>

                <div class="product-list">
                    <div class="row">
                        <ng-container *ngFor="let obj of bookService.topRatedBooks">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="../../assets/images/{{obj.book_Img_Path}}" alt="Books"
                                            class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                            Cart</button>
                                    </figure>
                                    <figcaption>
                                        <h3>{{obj.title}}</h3>
                                        <span>{{obj.author}}</span>
                                        <div class="item-price">$ {{obj.price_Per_Day}}</div>
                                    </figcaption>
                                </div>
                            </div>
                        </ng-container>
                    </div><!--ft-books-slider-->
                </div><!--grid-->


            </div><!--inner-content-->
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="btn-wrap align-right">
                    <a href="#" class="btn-accent-arrow">View all products <i class="icon icon-ns-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-6">
                        <div class="product-item">
                            <figure class="product-style">
                                <img src="../../assets/images/{{this.bookService.bestSellingBook.book_Img_Path}}"
                                    alt="book" class="single-image">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Best Selling Book</h2>

                            <div class="products-content">
                                <div class="author-name">By {{this.bookService.bestSellingBook.author}}</div>
                                <h3 class="item-title">{{this.bookService.bestSellingBook.title}}</h3>
                                <p>{{this.bookService.bestSellingBook.description}}.</p>
                                <div class="item-price">$ {{this.bookService.bestSellingBook.price_Per_Day}}</div>
                                <div class="btn-wrap">
                                    <a class="btn-accent-arrow">Borrow Now <i class="icon icon-ns-arrow-right"
                                            (click)="openPaymentDialog(this.bookService.bestSellingBook)"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / row -->

            </div>

        </div>
    </div>
</section>
<section id="popular-books" class="bookshelf py-5 my-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>SOME QUALITY ITEMS</span>
                    </div>
                    <h2 class="section-title">{{manageHome.homePageData[0].headeR_COMPONENT2}}</h2>
                </div>

                <!-- <ng-container *ngFor="let cat of manageBooks.allCatBooks"> -->
                <!-- Cat Tabs -->
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight>
                    <mat-tab [label]="selectedCategory.category_Name"
                        *ngFor="let selectedCategory of this.bookService.allCategoriesBooks">
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-3" *ngFor="let book of selectedCategory.books">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="../../assets/images/{{book.book_Img_Path}}" alt="Books"
                                            class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Add to Cart
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>{{ book.title }}</h3>
                                        <span>{{ book.author }}</span>
                                        <div class="item-price">$ {{ book.price_Per_Day }}</div>
                                    </figcaption>
                                </div>
                            </div>
                        </div>

                    </mat-tab>
                </mat-tab-group>
                <!-- End of Tab Content -->
            </div>
        </div>
    </div>
</section>
<section id="quotation" class="align-center pb-5 mb-5">
    <div class="inner-content">
        <h2 class="section-title divider">Quote of the day</h2>
        <blockquote>
            <q>“The more that you read, the more things you will know. The more that you learn, the more places
                you’ll go.”</q>
            <div class="author-name">Dr. Seuss</div>
        </blockquote>
    </div>
</section>
<section id="subscribe">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-6">

                        <div class="title-element">
                            <h2 class="section-title divider">{{this.manageHome.homePageData[0].footeR_COMPONENT1}}</h2>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="subscribe-content">
                            <p>{{this.manageHome.homePageData[0].paragraph3}}</p>
                            <form id="form">

                                <button class="btn-subscribe" mt-2 href="/contactus">
                                    <span> Contact Us</span>
                                    <i class="icon icon-send"></i>
                                </button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Libraries</span>
                    </div>
                    <h2 class="section-title">{{this.manageHome.homePageData[0].headeR_COMPONENT3}}</h2>
                </div>

                <div class="row">


                    <div class="col-md-4" *ngFor="let library of this.libraryService.libraries.slice(0,3)">

                        <article class="column" data-aos-delay="400">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="../../assets/images/{{library.image_Path1}}" alt="post"
                                        class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">{{library.email}}</div>
                                <h3><a>{{library.name}}</a></h3>

                                <div class="links-element">
                                    <div class="categories">Know More</div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>

                </div>

                <div class="row">

                    <div class="btn-wrap align-center">
                        <a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">See All Libraries<i
                                class="icon icon-ns-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<br>
<br>
<ng-template #callPaymentDialog>
    <section class="limiter"
        style="width: 100%; display: flex; justify-content: center; overflow-y: auto; max-height: 100vh;">
        <div class="container-login100"
            style="background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); max-width: 400px; margin: 0 auto;">

            <form class="login100-form validate-form" style="margin-bottom: 20px;" [formGroup]="paymentForm">
                <span class="login100-form-title p-b-26 mb-5">
                    Payment Information
                </span>

                <div style="margin-bottom: 20px;">
                    <label for="cardOwner" style="display: block; margin-bottom: 8px; font-weight: bold;">Card
                        Owner</label>
                    <input type="text" id="cardOwner" name="cardOwner"
                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;"
                        placeholder="card holder Name" formControlName="cardholder_Name" (change)="MatchError()">
                    <span style="font-size:12px ; color: red;"
                        *ngIf="paymentForm.controls['cardholder_Name'].hasError('required')"> card holder name is
                        required</span>
                    <span style="color: red;" *ngIf="paymentForm.controls['cardholder_Name'].hasError('misMatch')">card
                        holder name not true </span>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="cardNumber" style="display: block; margin-bottom: 8px; font-weight: bold;">Card
                        Number</label>
                    <input type="number" matInput formControlName="card_No"
                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;"
                        placeholder="Card No" (change)="MatchError()">
                    <span style="font-size:12px ;color: red;"
                        *ngIf="paymentForm.controls['card_No'].hasError('required')"> user name is required</span>
                    <span style="color: red;" *ngIf="paymentForm.controls['card_No'].hasError('misMatch')">card number
                        not true </span>
                </div>



                <div style="margin-bottom: 20px;">
                    <label for="cvv" style="display: block; margin-bottom: 8px; font-weight: bold;">CVV</label>
                    <input type="text" formControlName="cvv"
                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" placeholder="cvv"
                        (change)="MatchError()">
                    <span style="font-size:12px ;color: red;" *ngIf="paymentForm.controls['cvv'].hasError('required')">
                        user name is required</span>
                    <span style="color: red;" *ngIf="paymentForm.controls['cvv'].hasError('misMatch')">cvv not true
                    </span>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="totalPrice" style="display: block; margin-bottom: 8px; font-weight: bold;">Total
                        Price</label>
                    <span id="totalPrice"
                        style="display: block; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">{{this.bookPrice}}$</span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bg btn"></div>

                        <button class="login100-form-btn"
                            style="background-color: #C5A992; color: white; padding: 15px 20px; border: none; border-radius: 4px; cursor: pointer;"
                            (click)="payBook()">Confirm Payment</button>

                       <!-- <button class="login100-form-btn" style="background-color: #C5A992; color: white; padding: 15px 20px; border: none; border-radius: 4px; cursor: pointer;" (click)="payBook()">Confirm Payment</button>
                        <span *ngIf="this.canPaid;else elseStatement" style="color:green">Paid Done!</span>
                        <ng-template #elseStatement> 
                            <span style="color:red">Not enough balance</span> 
                        </ng-template> -->

                    </div>
                </div>
                <mat-dialog-actions align="end">
                    <button mat-button mat-dialog-close>Cancel</button>
                </mat-dialog-actions>
            </form>
        </div>
    </section>
</ng-template>
<app-footer></app-footer>

