<div mat-dialog-content >
    <form [formGroup]="CreateAboutUs" class="row">

        <mat-form-field class="col-12">
            <mat-label>Title</mat-label>
            <textarea matInput formControlName="header_component1" ></textarea>
            <mat-error *ngIf="CreateAboutUs.controls['header_component1'].hasError('required')">
                Course Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="col-12">
            <mat-label>Content</mat-label>
            <textarea rows="10" matInput formControlName="paragraph1" ></textarea>
            <mat-error *ngIf="CreateAboutUs.controls['paragraph1'].hasError('required')">
                Course Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        
        <div>
            <input type="file" class="btn btn-primry" id="imageButton" #file formControlName="image_path1" (change)="UploadImage(file.files)"/>
            <mat-error *ngIf="CreateAboutUs.controls['image_path1'].hasError('required')">
                Image is <strong>required</strong>
            </mat-error>

        </div>


    </form>
</div>
<div mat-dialog-actions>
    <button class="btn btn-primary" [mat-dialog-close]=""  mat-button >No Thanks</button>
    <button class="btn btn-primary ms-2 px-3" mat-button [mat-dialog-close]="" (click)="Save()" cdkFocusInitial>Save</button>
</div>

